<%= form_tag('twilio/make_call', method: 'post', remote: true) do %>
    <%= label_tag(:q, 'Phone Number') %>
    <%= text_field_tag(:phone_number) %>
    <%= submit_tag('Call') %>
<% end %>

<div id="form_submission"></div>